/* Skyler Beckman */

body {
	margin: 0;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	background: url('images/bg.jpg'); 
}

a {
	outline: none;
	text-decoration: none;
}

h4 {
	margin: 0;
	font: 13pt Myriad Pro, sans-serif;
	font-weight: 700;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

li {
        padding-top: 20px;  /* Tmp Change */
        padding-left: 15px; /* Tmp Change */
	float: left;
	height: 85px;
	width: 90px;
	margin: 15px 70px 0 20; /* Tmp Change */
}

.current {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-box-shadow: inset 0 0 12px #000000;
	-webkit-box-shadow: inset 0 0 12px #000000;
	box-shadow: inset 0 0 12px #000000;
	border: solid 1px rgba(0,0,0,.45);
	border-bottom: solid 1px #3d3f42;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color:#e1e1e1;
}

.submenu-button {
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 15px;
	margin-right: 25px;
	padding: 5px 25px;
	float: left;
	cursor: pointer;
}

.selected {
	color: #54545b;
	border-bottom: solid 1px #494a4f;
	background-color: #212228;
	-moz-box-shadow: inset 0 0 10px #1a1b20;
	-webkit-box-shadow: inset 0 0 10px #1a1b20;
	box-shadow: inset 0 0 10px #1a1b20;
	text-shadow: 0px -1px #000000;
}

.unselected {
	border-top: solid 1px #65666d;
	border-bottom: solid 1px #1d1d22;
	color: #aeadbb;
	text-shadow: 0px 1px #000000;

	/* IE */
	background-image: -ms-linear-gradient(top,#494b54 0%, #393b41 100%);

	/* FF */
	background-image: -moz-linear-gradient(top,#494b54 0%, #393b41 100%);
	
	/* Opera */
	background-image: -o-linear-gradient(top,#494b54 0%, #393b41 100%);

	/* WebKit 1 */
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#494b54), color-stop(1,#393b41));

	/* Webkit 2 */
	background-image: -webkit-linear-gradient(top, #494b54 0%, #393b41 100%);

	/* Other */
	background-image: linear-gradient(to bottom, #494b54 0%, #393b41 100%);
}

.shadow {
	box-shadow: 2px 2px 1px #999;
	-moz-box-shadow: 2px 2px px #999;
	-webkit-box-shadow: 2px 2px 1px #999;
}

#login {
	background: white;
	min-height: 230px;
	width: 430px;
	margin: 150px auto 0 auto;
	padding: 20px 15px 0 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#login input[type="text"], input[type="password"] {
	width: 400px;
	margin: 5px 10px;
	height: 25px;
	font-size: 12pt;
	font-style: italic;
	font-family: Chaparral Pro;
	border: solid 2px #343434;
	border-radius: 5px;
	padding-left: 5px;
	
	/* IE */
	background-image: -ms-linear-gradient(top,#e0e0e0 0%, #f3f3f3 100%);

	/* FF */
	background-image: -moz-linear-gradient(top,#e0e0e0 0%, #f3f3f3 100%);
	
	/* Opera */
	background-image: -o-linear-gradient(top,#e0e0e0 0%, #f3f3f3 100%);

	/* WebKit 1 */
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#e0e0e0), color-stop(1,#f3f3f3));

	/* Webkit 2 */
	background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #f3f3f3 100%);

	/* Other */
	background-image: linear-gradient(to bottom, #e0e0e0 0%, #f3f3f3 100%);
}

.button {
	background: #ac210f;
	width: 70px;
	height: 25px;
	color: #FFF;
	font: 9pt Myriad Pro, sans-serif;
	border: solid 1px #000;
	border-radius: 5px;
	float: right;
	display: inline-block;

	/* IE */
	background-image: -ms-linear-gradient(top,#b32310 0%, #991c0b 100%);

	/* FF */
	background-image: -moz-linear-gradient(top,#b32310 0%, #991c0b 100%);

	/* Opera */
	background-image: -o-linear-gradient(top,#b32310 0%, #991c0b 100%);

	/* Webkit 1*/
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#b32310), color-stop(1,#991c0b));

	/* Webkit 2 */
	background-image: -webkit-linear-gradient(top, #b32310 0%, #991c0b 100%);

	/* Older stuff */
	background-image: linear-gradient(to bottom, #b32310 0%, #991c0b 100%);

	text-shadow: 1px -1px #480800;
}

.submenu {
	height: 55px;
	width: 100%;
	border-top: solid 1px #43444a;

	/* IE */
	background-image: -ms-linear-gradient(top,#2e2f35 0%, #28292f 100%);

	/* FF */
	background-image: -moz-linear-gradient(top,#2e2f35 0%, #28292f 100%);

	/* Opera */
	background-image: -o-linear-gradient(top,#2e2f35 0%, #28292f 100%);

	/* Webkit 1*/
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#2e2f35), color-stop(1,#28292f));

	/* Webkit 2 */
	background-image: -webkit-linear-gradient(top, #2e2f35 0%, #28292f 100%);

	/* Older stuff */
	background-image: linear-gradient(to bottom, #2e2f35 0%, #28292f 100%);


}

.bottom-content {
	margin: 40px auto 0px auto;
	position: relative;
	width: 900px; 
}

.bottom-content-results {
	margin: 170px auto 20px auto;
	position: relative;
	width: 900px; 
}

.advanced {
	padding-top: 35px; 
	padding-left: 10px; 
	float: left;
	cursor: pointer;
	color: #a2b1b9;
	font: 12pt Myriad-Pro, sans-serif;
	font-weight: 650;
}

.advanced a {
	color: #a2b1b9;
	text-decoration: none;
}

.dropdown {
	height: 150px;
	position: relative;
	width:430px;
	background-color:white;
}
