/* Skyler Beckman */

body {
	margin: 0;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	background: url('images/bg.jpg'); 
}

h4 {
	margin: 0;
	font: 13pt Myriad Pro, sans-serif;
	font-weight: 700;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

li {
	float:left;
	padding: 40px 90px 0 10px;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color:#e1e1e1;
}

.shadow {
	box-shadow: 2px 2px 1px #999;
	-moz-box-shadow: 2px 2px px #999;
	-webkit-box-shadow: 2px 2px 1px #999;
}

#login {
	background: white;
	height: 230px;
	width: 430px;
	margin: 150px auto 0 auto;
	padding: 20px 15px 0 15px;
	position: relative;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#login input[type="text"] {
	width: 400px;
	margin: 5px 10px;
	height: 25px;
	font-size: 12pt;
	font-style: italic;
	font-family: Chaparral Pro;
	border: solid 2px #343434;
	border-radius: 5px;
	padding-left: 5px;
	
	/* IE */
	background-image: -ms-linear-gradient(top,#e0e0e0 0%, #f3f3f3 100%);

	/* FF */
	background-image: -moz-linear-gradient(top,#e0e0e0 0%, #f3f3f3 100%);
	
	/* Opera */
	background-image: -o-linear-gradient(top,#e0e0e0 0%, #f3f3f3 100%);

	/* WebKit 1 */
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#e0e0e0), color-stop(1,#f3f3f3));

	/* Webkit 2 */
	background-image: -webkit-linear-gradient(top, #e0e0e0 0%, #f3f3f3 100%);

	/* Other */
	background-image: linear-gradient(to bottom, #e0e0e0 0%, #f3f3f3 100%);
}

.button {
	background: #ac210f;
	width: 70px;
	height: 25px;
	color: #FFF;
	font: 9pt Myriad Pro, sans-serif;
	border: solid 1px #000;
	border-radius: 5px;
	float: right;
	display: inline-block;

	/* IE */
	background-image: -ms-linear-gradient(top,#b32310 0%, #991c0b 100%);

	/* FF */
	background-image: -moz-linear-gradient(top,#b32310 0%, #991c0b 100%);

	/* Opera */
	background-image: -o-linear-gradient(top,#b32310 0%, #991c0b 100%);

	/* Webkit 1*/
	background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0,#b32310), color-stop(1,#991c0b));

	/* Webkit 2 */
	background-image: -webkit-linear-gradient(top, #b32310 0%, #991c0b 100%);

	/* Older stuff */
	background-image: linear-gradient(to bottom, #b32310 0%, #991c0b 100%);

	text-shadow: 1px -1px #480800;
}

.bottom-content {
	margin: 40px auto 0 auto;
	position: relative;
	width: 900px; 
}
